<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        List of Suppliers
      </div>
      <div class="card-block">
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions" class="table row-border hover dataTable">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>LGA</th>
                <th>Date Joined</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>