<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        Create Zone
      </div>
      <div class="card-block">
        <form #createForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-12">
              <fieldset class="form-group" [class.has-danger]="name.errors && name.touched">
                <label for="name">
                      Name
                    </label>
                <input type="text" class="form-control" placeholder="First Name" name="name" #name="ngModel" [(ngModel)]="zone.name" minlength="2"
                  required/>
                <div class="form-control-feedback" *ngIf="name.errors && name.touched">
                  <small [hidden]="!name.errors.required">
                    LGA Name is required.
                  </small>
                  <small [hidden]="!name.errors.minlength">
                    Min characters is 2
                  </small>
                </div>
              </fieldset>
            </div>
            <div class="col-md-12">
              <fieldset class="form-group" [class.has-danger]="description.errors && description.touched">
                <label for="description">
                      Description
                    </label>
                <textarea class="form-control" placeholder="Description" name="description" #description="ngModel" [(ngModel)]="zone.description"
                  minlength="20" required>
                    </textarea>
                <div class="form-control-feedback" *ngIf="description.errors && description.touched">
                  <small [hidden]="!description.errors.required">
                        Your description is required.
                      </small>
                  <small [hidden]="!description.errors.minlength">
                        Min characters is 20
                      </small>
                </div>
              </fieldset>
            </div>
          </div>



          <div class="block mb-3"></div>
          <button class="btn btn-primary" type="submit">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>