<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        Create Food Item
      </div>
      <div class="card-block">
          <ng-container *ngIf="progressLoading">
            <div class="loader02"></div>
          </ng-container>
        <form #createForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="alert" [class.alert-success]="alert.status == 200" [class.alert-danger]="alert.status == 400" role="alert" *ngIf="alert.visible">
            <strong>Oh snap!</strong> {{alert.message}}.
          </div>
          <div class="row">
            <div class="col-md-12">
              <fieldset class="form-group" [class.has-danger]="name.errors && name.touched">
                <label for="name">
                      Name
                    </label>
                <input type="text" class="form-control" placeholder="Name" name="name" #name="ngModel" [(ngModel)]="food.name" minlength="2"
                  required/>
                <div class="form-control-feedback" *ngIf="name.errors && name.touched">
                  <small [hidden]="!name.errors.required">
                    Name is required.
                  </small>
                  <small [hidden]="!name.errors.minlength">
                    Min characters is 2
                  </small>
                </div>
              </fieldset>
            </div>
            <div class="col-md-12">
              <fieldset class="form-group" [class.has-danger]="unitPrice.errors && unitPrice.touched">
                <label for="unitPrice">
                      Unit Price
                    </label>
                <input type="number" class="form-control" placeholder="Unit Price" name="unitPrice" #unitPrice="ngModel" [(ngModel)]="food.unitPrice"
                  required>
                <div class="form-control-feedback" *ngIf="unitPrice.errors && unitPrice.touched">
                  <small [hidden]="!unitPrice.errors.required">
                        Your Unit Price is required.
                      </small>
                  <small [hidden]="!unitPrice.errors.minlength">
                        Min characters is 20
                      </small>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="block mb-3"></div>
          <button class="btn btn-primary" type="submit" [disabled]="!createForm.valid">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>