<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        Create Caterer
      </div>
      <div class="card-block">
        <ng-container *ngIf="progressLoading">
          <div class="loader02"></div>
        </ng-container>
        <form #createForm="ngForm" [style.opacity]="progressLoading == true? 0.4 : 1" (ngSubmit)="onSubmit()">
          <div class="alert" [class.alert-success]="alert.status == 200" [class.alert-danger]="alert.status == 400" role="alert" *ngIf="alert.visible">
            <strong>Oh snap!</strong> {{alert.message}}.
          </div>
          <div class="row">
            <div class="col-md-6">
              <fieldset class="form-group" [class.has-danger]="firstname.errors && firstname.touched">
                <label for="firstname">
                      First Name
                    </label>
                <input type="text" class="form-control" placeholder="First Name" name="firstname" #firstname="ngModel" [(ngModel)]="caterer.firstname"
                  minlength="2" required/>
                <div class="form-control-feedback" *ngIf="firstname.errors && firstname.touched">
                  <small [hidden]="!firstname.errors.required">
                    First name is required.
                  </small>
                  <small [hidden]="!firstname.errors.minlength">
                    Min characters is 2
                  </small>
                </div>
              </fieldset>
            </div>
            <div class="col-md-6">
              <fieldset class="form-group" [class.has-danger]="lastname.errors && lastname.touched">
                <label for="lastname">
                  Last Name
                </label>
                <input type="text" class="form-control" placeholder="Last Name" name="lastname" #lastname="ngModel" [(ngModel)]="caterer.lastname"
                  minlength="2" required/>
                <div class="form-control-feedback" *ngIf="lastname.errors && lastname.touched">
                  <small [hidden]="!lastname.errors.required">
                    Last name is required.
                  </small>
                  <small [hidden]="!lastname.errors.minlength">
                    Min characters is 2
                  </small>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <fieldset class="form-group" [class.has-danger]="phone.errors && phone.touched">
                <label for="phone">
                  Phone Number
                </label>
                <input type="text" class="form-control" placeholder="Phone" name="Phone" #phone="ngModel" [(ngModel)]="caterer.phone" minlength="11"
                  maxlength="15" required/>
                <div class="form-control-feedback" *ngIf="phone.errors && phone.touched">
                  <small [hidden]="!phone.errors.required">
                    Your Phone Number is required.
                  </small>
                  <small [hidden]="!phone.errors.minlength">
                    Min characters is 11
                  </small>
                </div>
              </fieldset>
            </div>
            <div class="col-md-6">
              <fieldset class="form-group" [class.has-danger]="email.errors && email.touched">
                <label for="email">
                  Email
                </label>
                <input type="text" class="form-control" placeholder="Email" name="email" #email="ngModel" [(ngModel)]="caterer.email" minlength="5"
                  required/>
                <div class="form-control-feedback" *ngIf="email.errors && email.touched">
                  <small [hidden]="!email.errors.required">
                    Your Email is required.
                  </small>
                  <small [hidden]="!email.errors.minlength">
                    Min characters is 5
                  </small>
                </div>
              </fieldset>
            </div>
          </div>
          <fieldset class="form-group" [class.has-danger]="address.errors && address.touched">
            <label for="address">
                  Address
                </label>
            <textarea class="form-control" placeholder="Address" name="address" #address="ngModel" [(ngModel)]="caterer.address" minlength="20"
              required>
                </textarea>
            <div class="form-control-feedback" *ngIf="address.errors && address.touched">
              <small [hidden]="!address.errors.required">
                    Your Address is required.
                  </small>
              <small [hidden]="!address.errors.minlength">
                    Min characters is 20
                  </small>
            </div>
          </fieldset>
          <div class="row">
            <div class="col-md-6">
              <fieldset class="form-group" [class.has-danger]="accountNumber.errors && accountNumber.touched">
                <label for="accountNumber">
                  Account Number
                </label>
                <input type="text" class="form-control" placeholder="Account Number" name="accountNumber" #accountNumber="ngModel" [(ngModel)]="caterer.bankAccount.accountNumber"
                  minlength="10" required/>
                <div class="form-control-feedback" *ngIf="accountNumber.errors && accountNumber.touched">
                  <small [hidden]="!accountNumber.errors.required">
                    Account Number is required.
                  </small>
                  <small [hidden]="!accountNumber.errors.minlength">
                    Min characters is 10
                  </small>
                </div>
              </fieldset>
            </div>
            <div class="col-md-6">
              <fieldset class="form-group" [class.has-danger]="bank.errors && bank.touched">
                <label for="bank">
                Bank
              </label>
                <select name="bank" class="form-control" #bank="ngModel" [(ngModel)]="caterer.bankAccount.bank">
                    <option disabled selected></option>
                <option *ngFor="let bank of (banks$ | async)" [value]="bank.id">{{bank?.name}}</option>
            </select>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <fieldset class="form-group" [class.has-danger]="lga.errors && lga.touched">
                <label for="lga">
                  Local Govt. Area
                </label>
                <select name="lga" class="form-control" #lga="ngModel" [(ngModel)]="caterer.lga" (change)="selectSchools(caterer.lga);">
                  <option disabled selected></option>
                  <option *ngFor="let lga of (lgas$ | async)" [value]="lga.id">{{lga?.name}}</option>
                </select>
              </fieldset>
            </div>
            <div class="col-md-6">
              <fieldset class="form-group" [class.has-danger]="school.errors && school.touched">
                <label for="school">
                  School
                </label>
                <select name="school" class="form-control" #school="ngModel" [(ngModel)]="caterer.school">
                    <option disabled selected></option>
                  <option *ngFor="let school of (schools$ | async)" [value]="school.id">{{school?.name}}</option>
                </select>
              </fieldset>
            </div>
          </div>
          <div class="block mb-3"></div>
          <button class="btn btn-primary" type="submit" [disabled]="!createForm.valid">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>