
<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Edit Caterer</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #content="ngForm" [style.opacity]="progressLoading == true? 0.4 : 1" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
          <div class="card">
            <div class="card-block">
              <div class="table-responsive">
                <table class="table mb-0">
                  <ng-container *ngIf="caterer$">
                  <tbody>
                    <tr>
                      <td>
                        First Name
                      </td>
                      <td>
                        <input type="text" value="{{(caterer$ | async)?.firstname}}">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Last name
                      </td>
                      <td>
                        <input type="text" value="{{(caterer$ | async)?.lastname}}">
                      </td>
                    </tr>
                    <tr>
                        <td>
                          Phone Number
                        </td>
                        <td>
                          <input type="text" value="{{(caterer$ | async)?.phone}}">
                        </td>
                      </tr>
                    <tr>
                      <td>
                        Address
                      </td>
                      <td>
                        <textarea name="" rows="4" value="{{(caterer$ | async)?.address}}"></textarea>
                      </td>
                    </tr>
                    <tr>
                        <td>
                          Email
                        </td>
                        <td>
                          <input type="text" value="{{(caterer$ | async)?.email}}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                          Bank
                        </td>
                        <td>
                          <input type="text" value="{{(caterer$ | async)?.bank}}">
                        </td>
                      </tr>
                      <tr>
                          <td>
                            Account Number
                          </td>
                          <td>
                            <input type="text" value="{{(caterer$ | async)?.accountNumber}}">
                          </td>
                        </tr>
                  </tbody>
                  </ng-container>
                </table>
              </div>
            </div>
          </div>
      </div>
  </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-info">Save Changes</button>
  </div>
</form>
</ng-template>