<ng-template ngbModalContainer>
</ng-template>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Edit Caterer</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #editCaterer="ngForm" [style.opacity]="progressLoading == true? 0.4 : 1" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="alert" [class.alert-success]="alert.status == 200" [class.alert-danger]="alert.status == 400" role="alert" *ngIf="alert.visible">
            <strong>Oh snap!</strong> {{alert.message}}.
          </div>
          <div class="table-responsive">
            <table class="table mb-0">
              <ng-container *ngIf="caterer">
                <tbody>
                  <tr>
                    <td>
                      First Name
                    </td>
                    <td>
                      <input type="text" class="form-control" name="firstname" #firstname="ngModel" [(ngModel)]="caterer.firstname" required/>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Last name
                    </td>
                    <td>
                      <input type="text" class="form-control" name="lastname" #lastname="ngModel" [(ngModel)]="caterer.lastname" required/>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Phone Number
                    </td>
                    <td>
                      <input type="text" class="form-control" name="phone" #phone="ngModel" [(ngModel)]="caterer.phone" required/>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Address
                    </td>
                    <td>
                      <textarea rows="4" class="form-control" name="address" #address="ngModel" [(ngModel)]="caterer.address" required></textarea>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Email
                    </td>
                    <td>
                      <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="caterer.email" required/>
                    </td>
                  </tr>
                </tbody>
              </ng-container>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-info" [disabled]="!editCaterer.valid">Save Changes</button>
    </div>
  </form>
</ng-template>