<div class="wrapper">
    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <ngb-tabset class="card-tab">
            <ngb-tab>
              <ng-template ngbTabTitle>Caterer Info</ng-template>
              <ng-template ngbTabContent>
                <div class="card">
                  <div class="card-block">
                    <h6 class="text-uppercase mt-0 mb-3">Basic Information</h6>
                    
                    <div class="row mb-2">
                      <div class="col">
                        <div class="d-flex justify-content-start">   
                          <span class="mr-auto">Names</span>
                          <strong>+20 0593 4095</strong>
                        </div>
                      </div>
                      <div class="col">          
                        <div class="d-flex justify-content-start">
                          <span class="mr-auto">Address</span>
                          <strong>94</strong>
                        </div>
                      </div>
                    </div>
  
                    <div class="row mb-2">
                      <div class="col">       
                        <div class="d-flex justify-content-start">
                          <span class="mr-auto">Phone</span>
                          <strong>30.09.67</strong>
                        </div>
                      </div>
                      <div class="col">          
                        <div class="d-flex justify-content-start">
                          <span class="mr-auto">Country</span>
                          <strong>South Africa</strong>
                        </div>
                      </div>
                    </div>
  
                    <div class="row mb-2">
                      <div class="col">          
                        <div class="d-flex justify-content-start">
                          <span class="mr-auto">Email</span>
                          <strong>Assistant</strong>
                        </div>
                      </div>
                      <div class="col">          
                        <div class="d-flex justify-content-start">
                          <span class="mr-auto">Account Number</span>
                          <strong>+23908924</strong>
                        </div>
                      </div>
                    </div>
  
                    <div class="row mb-2">
                      <div class="col">          
                        <div class="d-flex justify-content-start">
                          <span class="mr-auto">Bank Name</span>
                          <strong>@mrperkins</strong>
                        </div>
                      </div>
                      <div class="col">          
                        <div class="d-flex justify-content-start">
                          <span class="mr-auto">LGA</span>
                          <strong>mrperkins</strong>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">          
                          <div class="d-flex justify-content-start">
                            <span class="mr-auto">Zone</span>
                            <strong>@mrperkins</strong>
                          </div>
                        </div>
                        <div class="col">          
                          <div class="d-flex justify-content-start">
                            <span class="mr-auto">School</span>
                            <strong>mrperkins</strong>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>