<div class="wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <ng-container *ngIf="caterer$">
                <div class="card">
                    <div class="card-header">
                        Basic Information
                      </div>
                  <div class="card-block">
                    <div class="row mb-2">
                      <div class="col">
                        <div class="justify-content-start">   
                          <div class="mr-auto">Names</div>
                          <strong>{{(caterer$ | async)?.firstname}} {{(caterer$ | async)?.lastname}}</strong>
                        </div>
                      </div>
                      <div class="col">          
                        <div class="justify-content-start">
                          <div class="mr-auto">Address</div>
                          <strong>{{(caterer$ | async)?.address}}</strong>
                        </div>
                      </div>
                    </div>
  
                    <div class="row mb-2">
                      <div class="col">       
                        <div class="justify-content-start">
                          <div class="mr-auto">Phone</div>
                          <strong>{{(caterer$ | async)?.phone}}</strong>
                        </div>
                      </div>
                      <div class="col">          
                        <div class="justify-content-start">
                          <div class="mr-auto">School Name</div>
                          <strong>{{(caterer$ | async)?.school}}</strong>
                        </div>
                      </div>
                    </div>
  
                    <div class="row mb-2">
                      <div class="col">          
                        <div class="justify-content-start">
                          <div class="mr-auto">Email</div>
                          <strong>{{(caterer$ | async)?.email}}</strong>
                        </div>
                      </div>
                      <div class="col">          
                        <div class="justify-content-start">
                          <div class="mr-auto">Account Number</div>
                          <strong>{{(caterer$ | async)?.accountNumber}}</strong>
                        </div>
                      </div>
                    </div>
  
                    <div class="row mb-2">
                      <div class="col">          
                        <div class="justify-content-start">
                          <div class="mr-auto">Bank Name</div>
                          <strong>{{(caterer$ | async)?.bank}}</strong>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-primary" type="submit" >Get Supply</button>
                  </div>
                  
                </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>