<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        Create School
      </div>
      <div class="card-block">
        <form>
          <div class="form-group">
            <label for="school">School Name</label>
            <input type="text" class="form-control" placeholder="School Name">
          </div>
          <div class="form-group">
            <label for="zone">Zone</label>
            <input type="password" class="form-control" id="zone" placeholder="Enter Zone">
          </div>
          <div class="form-group">
            <label for="lga">LGA</label>
            <select name="lga" class="form-control" id="">
              <option value="ADAVI">ADAVI</option>
              <option value="AJAOKUTA">AJAOKUTA</option>
              <option value="ANKPA">ANKPA</option>
              <option value="BASSA">BASSA</option>
              <option value="DEKINA">DEKINA</option>
              <option value="IBAJI">IBAJI</option>
              <option value="IDAH">IDAH</option>
              <option value="IGALAMELA">IGALAMELA</option>
              <option value="IGALAMELA ODULU">IGALAMELA ODULU</option>
              <option value="IJUMU">IJUMU</option>
              <option value="KABBA/BUNU">KABBA/BUNU</option>
              <option value="KOGI">KOGI</option>
              <option value="LOKOJA">LOKOJA</option>
              <option value="MOPA MURO">MOPA MURO</option>
              <option value="OFU">OFU</option>
              <option value="OGORI/MAGONGO">OGORI/MAGONGO</option>
              <option value="OKEHI">OKEHI</option>
              <option value="OKENE">OKENE</option>
              <option value="OLAMABORO">OLAMABORO</option>
              <option value="OMALA">OMALA</option>
              <option value="YAGBA EAST">YAGBA EAST</option>
              <option value="YAGBA WEST">YAGBA WEST</option>
          </select>
          </div>
          <div class="block mb-3"></div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>