<div class="card">
  <div class="card-header">
    Select a supplier
  </div>
  <div class="card-block">
    <p>
      <select class="col-sm-5 form-control">
        <option value="">
          Name of Supplier
        </option>
        <option value="supplier1">
            Ocholi Ikanni Abel
          </option>
      </select>
    </p>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>
              #
            </th>
            <th>
              Supplier Item
            </th>
            <th>
              Description
            </th>
            <th>
              Quantity
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-active">
            <th scope="row">
              1
            </th>
            <td>
              Indomie
            </td>
            <td>
              Noodoles
            </td>
            <td>
              <input type="num" value="10" class="col-sm-3 form-control">
            </td>
          </tr>
          <tr>
            <th scope="row">
              2
            </th>
            <td>
                Rice
              </td>
              <td>
                Farm Produce
              </td>
              <td>
                <input type="num" value="10" class="col-sm-3 form-control">
              </td>
          </tr>
          <tr class="table-success">
            <th scope="row">
              3
            </th>
            <td>
                Eggs
              </td>
              <td>
                Poultry Product
              </td>
              <td>
                <input type="num" value="89" class="col-sm-3 form-control">
              </td>
          </tr>
          <tr>
            <th scope="row">
              4
            </th>
            <td>
                Spaghetti
              </td>
              <td>
                Pasta by Dangote
              </td>
              <td>
                <input type="num" value="30" class="col-sm-3 form-control">
              </td>
          </tr>
          <tr class="table-info">
            <th scope="row">
              5
            </th>
            <td>
                Bread
              </td>
              <td>
                Baked from the oven
              </td>
              <td>
                <input type="num" value="40" class="col-sm-3 form-control">
              </td>
          </tr>
          
        </tbody>
      </table>
    </div>
    <button type="button" class="btn btn-info mr-1 mb-1">Get  Invoice</button>
  </div>
</div>