<div class="card">
  <div class="card-header">
    Select a supplier
  </div>
  <div class="card-block">
    <p>
      <select class="form-control">
        <option value="supplier1">
          Name of Supplier
        </option>
      </select>
    </p>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>
              #
            </th>
            <th>
              Supplier Item
            </th>
            <th>
              Description
            </th>
            <th>
              Quantity
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-active">
            <th scope="row">
              1
            </th>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
            <td>
              <input type="num" class="form-control">
            </td>
          </tr>
          <tr>
            <th scope="row">
              2
            </th>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
          </tr>
          <tr class="table-success">
            <th scope="row">
              3
            </th>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
          </tr>
          <tr>
            <th scope="row">
              4
            </th>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
          </tr>
          <tr class="table-info">
            <th scope="row">
              5
            </th>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
          </tr>
          <tr>
            <th scope="row">
              6
            </th>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
          </tr>
          <tr class="table-warning">
            <th scope="row">
              7
            </th>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
          </tr>
          <tr>
            <th scope="row">
              8
            </th>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
          </tr>
          <tr class="table-danger">
            <th scope="row">
              9
            </th>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button type="button" class="btn btn-info mr-1 mb-1">Get  Invoice</button>
  </div>
</div>