<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="card card-block card-widget">
      <div class="widget-icon rounded-circle bg-green text-white icon icon-basic-headset">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          1817
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Caterers</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-block card-widget">
      <div class="widget-icon rounded-circle bg-blue text-white icon icon-basic-server2">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          387
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Suppliers</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-block card-widget">
      <div class="widget-icon rounded-circle bg-teal text-white icon icon-basic-magic-mouse">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          1850
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Schools</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-block card-widget">
      <div class="widget-icon rounded-circle bg-red text-white icon icon-basic-heart">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          180k
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Pupils</strong>
        </small>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header no-shadow">
        <div class="card-header-text w-100">
          <div class="card-title">
            Financial Transaction
          </div>
          <div class="card-subtitle text-capitalize ff-sans">
            Last updated: 1 hour ago
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="row text-center">
          <div class="col-xs-6 col-sm-3 text-success">
            <h5 class="mb-0">
              <strong>
                N34.45
              </strong>
            </h5>
            <small>
              Income
            </small>
          </div>
          <div class="col-xs-6 col-sm-3">
            <h5 class="mb-0">
              <strong>
                34%
              </strong>
            </h5>
            <small>
              Caterer Engagements
            </small>
          </div>
          <div class="col-xs-6 col-sm-3 text-danger">
            <h5 class="mb-0">
              <strong>
                45%
              </strong>
            </h5>
            <small>
              Supplier Engagements
            </small>
          </div>
          <div class="col-xs-6 col-sm-3">
            <h5 class="mb-0">
              <strong>
                456
              </strong>
            </h5>
            <small>
              Invoices
            </small>
          </div>
        </div>
      </div>
      <div class="mb-1">
        <ngx-charts-area-chart-stacked (legendlabelclick)="onLegendLabelClick($event)" (select)="select($event)" [curve]="curve" [gradient]="gradient" [legend]="showLegend" [results]="dateData" [roundDomains]="roundDomains" [scheme]="colorScheme" [schemeType]="schemeType" [showGridLines]="showGridLines" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [timeline]="timeline" [tooltipDisabled]="tooltipDisabled" [xAxis]="showXAxis" [xAxisLabel]="xAxisLabel" [yAxis]="showYAxis" [yAxisLabel]="yAxisLabel" class="line-container">
        </ngx-charts-area-chart-stacked>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header no-shadow">
        <div class="card-header-text w-100">
          <div class="card-title">
            Food Item spending
          </div>
          <div class="card-subtitle text-capitalize ff-sans">
            Last updated: 1 hour ago
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="row text-center">
          <div class="col-sm-6 col-md-3 text-purple">
            <h5 class="mb-0">
              <strong>
                N34,845
              </strong>
            </h5>
            <small>
              Indomie
            </small>
          </div>
          <div class="col-sm-6 col-md-3">
            <h5 class="mb-0">
              <strong>
                N21,783
              </strong>
            </h5>
            <small>
              Egg
            </small>
          </div>
          <div class="col-sm-6 col-md-3 text-indigo">
            <h5 class="mb-0">
              <strong>
                N28,980
              </strong>
            </h5>
            <small>
              Chicken
            </small>
          </div>
          <div class="col-sm-6 col-md-3">
            <h5 class="mb-0">
              <strong>
                N34,7690
              </strong>
            </h5>
            <small>
              Rice
            </small>
          </div>
        </div>
      </div>
      <div class="mb-1">
        <ngx-charts-gauge (legendlabelclick)="onLegendLabelClick($event)" (select)="select($event)" [angleSpan]="gaugeAngleSpan" [bigSegments]="gaugeLargeSegments" [legend]="showLegend" [margin]="margin ? [marginTop, marginRight, marginBottom, marginLeft] : null" [max]="gaugeMax" [min]="gaugeMin" [results]="single" [scheme]="colorScheme" [showAxis]="gaugeShowAxis" [smallSegments]="gaugeSmallSegments" [startAngle]="gaugeStartAngle" [textValue]="gaugeTextValue" [tooltipDisabled]="tooltipDisabled" [units]="gaugeUnits" class="gauge-container">
        </ngx-charts-gauge>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-5">
    <div class="card">
      <div class="card-header no-shadow">
        <div class="card-header-text w-100">
          <div class="card-title">
            Latest Activities
          </div>
          <div class="card-subtitle text-capitalize ff-sans">
            Last updated: 1 hour ago
          </div>
        </div>
      </div>
      <div class="activity-stream">
        <div class="card">
          <div class="card-header">
            <img class="card-avatar" src="assets/images/face1.jpg"/>
            <div class="card-header-text">
              <div class="card-title">
                Invoce Generated
              </div>
              <div class="card-subtitle">
                at 3:14PM
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <img class="card-avatar" src="assets/images/face2.jpg"/>
            <div class="card-header-text">
              <div class="card-title">
                Supplier Bank Verified
              </div>
              <div class="card-subtitle">
                5 mins ago
              </div>
            </div>
          </div>
          <div class="card-block">
            <p class="mb-0">
              Caterer Feeds Students
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>